# === Gradle ===
/build/
/.gradle/

# Keep Gradle wrapper scripts & config
!gradlew
!gradlew.bat
!gradle/wrapper/**

# === IDEs ===

## STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
bin/

## IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

## VS Code
.vscode/

# === Misc ===
HELP.md
