.castSection{
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #888 black;
}

@media screen and (max-width: 768px) {
    .headerContainer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .moviePoster {
        width: 90%;
        height: auto;
    }
    .movieContent {
        width: 90%;
    }

}