.homeContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.homeContainer h3 {
    padding-left: 4.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    .homeContainer h3 {
        padding-left: 2rem;
    }
    
}